*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #222;
}
.card {
    width: 90%;
    max-width: 470px;
    max-height: auto;
    height: auto;
    background: linear-gradient(135deg, #00feba, #b4548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    height: auto;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search input:hover {
    box-shadow: 0 0 5px rgb(241, 158, 5),
    0 0 25px rgb(241, 158, 5), 
    0 0 50px rgb(241, 158, 5), 
    0 0 100px rgb(241, 158, 5),
     0 0 200px rgb(241, 158, 5);
}
.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img {
    width: 16px;
}
.weather {
    display: none;
}
.weather-icon {
    width: 170px;
    height: auto;
    margin-top: 20px;
}
.weather h1 {
    font-size: 80px;
    font-weight: 500;
}
.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.col img {
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
    padding: 1.5px;
    
}

.developer {
    width: auto;
    height: auto;
    font-size: 15px;
    font-weight: 500;
    color: #0ef;
    background-color: #041429;
    margin-top: 60px;
    margin-bottom: 0;
    padding: 20px;
    border: transparent;
    border-radius: 14px;
    box-shadow: 0 0 5px #041429,
    0 0 25px #041429;
    animation: slideTop 1s 2s ease forwards;
}
.developer:hover {
    box-shadow: 0 0 5px rgb(117, 14, 227),
    0 0 25px rgb(117, 14, 227), 
    0 0 50px rgb(117, 14, 227), 
    0 0 100px rgb(117, 14, 227),
     0 0 200px rgb(117, 14, 227);
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
    color: red;
}
